body {
  margin: 0;
}

:root {
  --blue: #00acdc;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item{
  margin-right: 20px;
}

.nav__item:last-child{
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;

  height: 60px;
  display: flex;
  align-items: center;
}

.nav__link:hover {
  color: blue;
}

.is-active {
  color: blue;
}
